<g:each in="${taskList}" var="task">
	<div>
		<input type="checkbox" onclick="${remoteFunction(controller:'taskHandle',action:'done',id:task.id,update:[success:'taskList'])}"> ${task.desc} 
	</div>
</g:each>